// app global css in SCSS form
@use './pages/_auth';
@use './pages/_register';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

label,
.q-toggle__label {
  font-size: 12pt;
  font-weight: 600;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.q-page {
  background-color: #504f4f14;
}

.q-table tbody td {
  font-size: 0.9rem;
}

.q-table th {
  font-size: 0.9rem;
}

.d-flex {
  display: flex;
}

.content-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-items-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.active {
  background-color: #21224531;
}

.gm-style-iw-c {
  background-color: $primary !important;
  color: white;
  padding: 12px !important;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .gm-style-iw-chr {
    height: 24px;
    width: 24px;
    color: white;

    button {
      height: 24px !important;
      width: 24px !important;
      color: white;
      margin-right: -5px !important;
      filter: brightness(0) invert(1) !important;

      span {
        margin: 0 !important;
        filter: brightness(0) invert(1) !important;
      }
    }
  }
}
